// Colores 
$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet-accent: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$slightly-transparent-white1: hsla(0, 0%, 100%, 0.75); // (main paragraph)
$slightly-transparent-white2: hsla(0, 0%, 100%, 0.6); // (stat headings)

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: $very-dark-blue;
}

// Frontend Mentor reference
.attribution {
    font-size: 12px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
